---
openapi: 3.0.1
info:
  title: TDL App API
  version: v0
  description: 'Provides a REST API backend for arbitrary TDL App front-ends.

    '
  contact:
    name: TDL App Support
    email: support@tdl.app
servers:
- url: https://api.tdl.app/v0
  description: Production Server
- url: https://sandbox.tdl.app/v0
  description: 'Sandbox server (that resets daily? not implementing until it''s useful)

    '
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
      required:
      - error
    Username:
      type: object
      properties:
        username:
          type: string
      required:
      - username
    Login:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
    SessionToken:
      type: object
      properties:
        session_token:
          type: string
      required:
      - session_token
  responses:
    BadRequest:
      description: You did a dumb dumb
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    Unauthorized:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    NotImplemented:
      description: Endpoint not implemented yet
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
security:
- bearerAuth: []
paths:
  "/login":
    post:
      summary: Creates a session token
      tags:
      - Authentication
      security: []
      requestBody:
        description: Username and password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Logged in successfully
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SessionToken"
        '400':
          "$ref": "#/components/responses/BadRequest"
          description: Bad login
      parameters: []
  "/logout":
    delete:
      summary: Destroys a session token
      tags:
      - Authentication
      responses:
        '200':
          description: Logged out successfully
        '401':
          "$ref": "#/components/responses/Unauthorized"
          description: Not authorized
  "/verify/token":
    post:
      summary: Verifies 2FA via hardware token
      tags:
      - Authentication
      responses:
        '501':
          "$ref": "#/components/responses/NotImplemented"
          description: Not implemented yet
      security: []
  "/verify/app":
    post:
      summary: Verifies 2FA via authy app
      tags:
      - Authentication
      responses:
        '501':
          "$ref": "#/components/responses/NotImplemented"
          description: Not implemented yet
      security: []
  "/username":
    get:
      summary: Retrieves a user's username
      tags:
      - Settings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Username"
        '401':
          "$ref": "#/components/responses/Unauthorized"
          description: Not authorized
