v-app-bar[app clipped-left]
  v-app-bar-nav-icon v-show='view == 0 || view == 1' @click.stop="drawer = !drawer"
  v-toolbar-title.mr-3
    div v-if='processing != true'
      = current_user.username
    div[v-else]
      v-progress-circular[indeterminate color='primary']
  v-btn.mr-4.darken-1[color='primary' @click='createTaskDialog = true' v-if='$vuetify.breakpoint.mobile']
    v-icon[left]
      | fa-plus
    | New
  v-row[justify="end"]
    v-btn.mr-3[color='secondary' @click='logout' v-if='processing != true']
      | Logout
