v-container#main[fluid]
  v-row.pt-3.pr-3
    v-spacer
    v-btn.mr-4.darken-1[color='primary' @click='createTaskDialog = true' small]
      v-icon[small left]
        | fa-plus
      | Create task
    v-btn.mr-3[@click='clearCompleted' small]
      v-icon[small left]
        | fa-times-circle
      | Clear completed
  v-row
    - %w[today tomorrow upcoming someday].each do |list|
      v-col
        v-card.ma-3.pa-6.pb-0[loading='processing' rounded]
          v-toolbar-title.primary--text
            = list.titleize
          v-divider
          v-list
            v-list-item-group
              draggable[:list="#{list}" @change='syncTaskOrdering' delay='200' touch-start-threshold='5' delay-on-touch-only='true']
                v-list-item[v-for="task in #{list}" :key="task.title"]
                  v-list-item-content[@click='setCurrentTask(task)']
                    v-list-item-title
                      | {{ task.title }}
                  v-chip[v-for='tag in task.tags' :color='tag.color' :key='tag.title' @click.stop='selectTag(tag)']
                    v-icon[:color='tag.text_color']
                      | fa-tag
              v-list-item[v-if="#{list}.length == 0"]
                v-list-item-content
                  v-list-item-title
                    strong Nothing yet!
          v-divider
          v-card-actions.mb-0
            v-text-field[v-model="newQuick#{list.titleize}Task" label='Create new task' filled dark rounded append-icon='fa-arrow-up' @keyup.enter="createQuickTask('#{list}', newQuick#{list.titleize}Task)"]
