v-container#main[fluid]
  v-row.pt-3.pr-3[v-if='view == 0 || view == 1']
    v-spacer
    v-btn.mr-4[color='indigo' @click='refreshEverything' small]
      v-icon[small left]
        | fa-refresh
      | Refresh
    v-btn.mr-4[color='indigo' @click='beginTaskReview' small]
      v-icon[small left]
        | fa-th
      | Review Tasks
    v-btn.mr-4.darken-1[color='primary' @click='createTaskDialog = true' small]
      v-icon[small left]
        | fa-plus
      | Create task
    v-btn.mr-4[@click='resetReviewAt' small]
      v-icon[small left]
        | fa-recycle
      | Reset Review At
    v-btn.mr-3[@click='clearCompleted' small]
      v-icon[small left]
        | fa-times-circle
      | Clear completed
  v-row
    template[v-if='view == 0']
      - %w[today tomorrow upcoming someday].each do |list|
        v-col
          v-card.ma-3.pa-6.pb-0[loading='processing' rounded]
            v-toolbar-title.primary--text
              = list.titleize
            v-divider
            v-list
              v-list-item-group
                draggable[v-model="#{list}" delay='200' delay-on-touch-only='true' @change="moveTask($event, #{list}, '#{list}')" group='tasks']
                  v-list-item[v-for="task in #{list}" :key="task.title"]
                    v-list-item-content[@click.stop='setCurrentTask(task)']
                      v-list-item-title
                        | {{ task.title }}
                    v-tooltip[top v-for='tag in task.tags' :key='tag.title']
                      template[v-slot:activator='{ on, attrs }']
                        v-chip.ml-1[:color='tag.color' @click.stop='selectTag(tag)' v-bind='attrs' v-on='on']
                          v-icon[:color='tag.text_color']
                            | fa-tag
                      span
                        | {{ tag.title }}
                v-list-item[v-if="#{list}.length == 0"]
                  v-list-item-content
                    v-list-item-title
                      strong Nothing yet!
            v-divider
            v-card-actions.mb-0
              v-text-field[v-model="newQuick#{list.titleize}Task" label='Create new task' filled dark rounded append-icon='fa-arrow-up' @keyup.enter="createQuickTask('#{list}', newQuick#{list.titleize}Task)"]
    template[v-else-if='view == 1']
      v-card.ma-3.pa-6[rounded width='100%']
        v-row.pa-4[justify='space-between']
          v-col
            v-treeview[:items='treeTasks' :active.sync='treeActive' item-text='title' item-key='title' item-children='postreqs' :load-children='loadPostreqs' activatable hoverable transition]
              template[v-slot:append='{ item }']
                v-chip.ml-1[v-if='item.completed' color='success']
                  | Completed
                v-tooltip[top v-for='tag in item.tags' :key='tag.title']
                  template[v-slot:activator='{ on, attrs }']
                    v-chip.ml-1[:color='tag.color' @click.stop='selectTag(tag)' v-bind='attrs' v-on='on']
                      v-icon[:color='tag.text_color']
                        | fa-tag
                  span
                    | {{ tag.title }}
          v-divider[vertical]
          v-col.d-flex.text-center
            v-scroll-y-transition[mode='out-in']
              .title.grey--text.text--lighten-1.font-weight-light.align-center[v-if='!treeSelected']
                | Select a task
              v-card.pt-6.mx-auto[v-else :key='treeSelected.title' flat]
                h3.headline.mb-2
                  | {{ treeSelected.title }}
    template[v-else-if='view == 3']
      v-card.ma-3.pa-6[rounded width='100%']
        = render partial: 'settings'
