= render partial: 'home/dialogs/add_requisites_dialogs'
= render partial: 'home/dialogs/create_task_dialog'
= render partial: 'home/dialogs/current_task_dialog'
= render partial: 'home/dialogs/edit_list_dialog'
= render partial: 'home/dialogs/edit_tag_dialog'
= render partial: 'home/dialogs/review_dialog'
