v-card.pa-4
  - %w[today tomorrow upcoming someday].each do |list|
    div
      v-toolbar-title.primary--text
        = list.titleize
      v-divider
      v-list
        v-list-item-group
          draggable[:list="#{list}" @change='syncTaskOrdering' delay='200' touch-start-threshold='5' delay-on-touch-only='true']
            v-list-item[v-for="task in #{list}" :key="task.title" @click='setCurrentTask(task)']
              v-list-item-content
                v-list-item-title
                  | {{ task.title }}
              v-chip[v-for='tag in task.tags' :color='tag.color' :key='tag.title' @click.stop='selectTag(tag)']
                v-icon[:color='tag.text_color']
                  | fa-tag
          v-list-item[v-if="#{list}.length == 0"]
            v-list-item-content
              v-list-item-title
                strong Nothing yet!
