v-card.pa-4
  div
    v-toolbar-title.primary--text
      | Today
    v-divider
    v-list
      v-list-item-group
        v-list-item[v-for="task in today" :key="task.title"]
          v-list-item-content
            v-list-item-title v-touch="{ right: () => alert('Task ' + m + 'marked done') }"
              | {{ task.title }}
          v-chip[v-for='tag in task.tags' :color='tag.color' :key='tag.title']
            v-icon[:color='tag.text_color']
              | fa-tag
  div
    v-toolbar-title.primary--text
      | Tomorrow
    v-divider
    v-list
      v-list-item-group
        v-list-item[v-for="task in tomorrow" :key="task.title"]
          v-list-item-content
            v-list-item-title v-touch="{ right: () => alert('Task ' + m + 'marked done') }"
              | {{ task.title }}
  div
    v-toolbar-title.primary--text
      | Upcoming
    v-divider
    v-list
      v-list-item-group
        v-list-item[v-for="task in upcoming" :key="task.title"]
          v-list-item-content
            v-list-item-title v-touch="{ right: () => alert('Task ' + m + 'marked done') }"
              | {{ task.title }}
            v-chip[v-for='tag in task.tags' :color='tag.color' :key='tag.title']
              v-icon
                | fa-tag
              | {{ tag.title }}
  div
    v-toolbar-title.primary--text
      | Someday
    v-divider
    v-list
      v-list-item-group
        v-list-item[v-for="task in someday" :key="task.title"]
          v-list-item-content
            v-list-item-title v-touch="{ right: () => alert('Task ' + m + 'marked done') }"
              | {{ task.title }}
