v-card-title.headline
  v-row[justify='center']
    h2 Settings
v-divider
v-card-text
  v-row[justify='center']
    p
      span> Current Timezone:
      | {{ timezone }}
  v-row[justify='center']
    p
      span> Current Time:
      | {{ currentTime }}
  v-select[v-model='timezone' :items='timezones' item-text='name' item-value='value' single-line]
