- if current_user
  main#root.wrapper
    nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
      span.navbar-brand.col-sm-3.col-md-2.mr-0 = current_user&.username
      input.form-control.form-control-dark.w-100 type='text' placeholder='Search' aria-label='Search'
      ul.navbar-nav.px-3
        li.nav-item.text-nowrap
          = link_to 'Logout', logout_path, method: :post, class: 'nav-link'
    .container-fluid
      .row
        nav.col-lg-2.col-md-3.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            .row
              .col-sm
                h3.text-right
                  span style='border:none;background-color:white;cursor:pointer;' v-bind:class="{ active: controls == 'lists' }" v-on:click="controls = 'lists'" Lists
              .col-sm
                h3.text-left
                  span style='border:none;background-color:white;cursor:pointer;' v-bind:class="{ active: controls == 'tags' }" v-on:click="controls = 'tags'" Tags
            .app-body__controls__lists v-show="controls == 'lists'"
              list-controls :lists='lists' @clicked-list='setCurrentList' @clicked-delete-list='deleteList'
              input.form-control.mt-2.mb-2 type='text' v-model='newList' placeholder='Create new list' @keyup.enter='createList'
            .app-body__controls__tags v-show="controls == 'tags'"
              tag-controls :tags='tags' @clicked-tag='setCurrentTag' @clicked-delete-tag='deleteTag'
              input.form-control.mt-2.mb-2 type='text' v-model='newTag' placeholder='Create new tag' @keyup.enter='createTag'
        section.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
            h1.h2.text-white
              | Dashboard
            .btn-toolbar.mb-2.mb-md-0
              button.btn.btn-sm.btn-primary data-toggle='modal' data-target='#createTaskModal'
                | Create Task
              button.btn.btn-sm.btn-secondary.ml-2 @click='clearCompleted'
                | Clear completed
              .btn-group.ml-2.mr-2
                button.btn.btn-sm.btn-outline-light.active
                  | Schedule
                button.btn.btn-sm.btn-outline-light
                  | Agenda
                button.btn.btn-sm.btn-outline-light
                  | Tree
          .row
            .col-12.col-xl-3
              tasks-docket :tasks='today' :title='title.today' @clicked-show-detail='setCurrentTask' @created-quick-task='createQuickTask'
            .col-12.col-xl-3
              tasks-docket :tasks='tomorrow' :title='title.tomorrow' @clicked-show-detail='setCurrentTask' @created-quick-task='createQuickTask'
            .col-12.col-xl-3
              tasks-docket :tasks='upcoming' :title='title.upcoming' @clicked-show-detail='setCurrentTask' @created-quick-task='createQuickTask'
            .col-12.col-xl-3
              tasks-docket :tasks='someday' :title='title.someday' @clicked-show-detail='setCurrentTask' @created-quick-task='createQuickTask'
    #createTaskModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#createTaskModalLabel.modal-title
              | Create Task
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body
            | <input type="text" class="form-control" placeholder="Task title" v-model="newTask" @keyup.enter="addTask">
            hr
            h3
              | Possible Matches - {{ search.length }}
            ul.list-group.overflow-auto style='max-height: 500px;'
              li.list-group-item.list-group-item-action v-for='task in search' @click='selectFromSearch(task)'
                | {{ task.title }}
          .modal-footer
            button.btn.btn-secondary[type="button" data-dismiss="modal"]
              | Cancel
    #taskDetailModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="taskDetailModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#taskDetailModalLabel.modal-title
              | Task Details
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body
            h5
              | {{ currentTask.title }}
            input.form-control type='text' v-model='editTask' v-bind:placeholder='currentTask.title' @keyup.enter='updateTask'
            hr
            button.btn.btn-sm.rounded-pill.mr-2 v-for='tag in currentTask.tags' v-bind:style="{ 'background-color': tag.color, 'border-color': tag.text_color, 'color': tag.text_color }"
              | {{ tag.title }}
            button.btn.btn-sm.btn-outline-secondary.rounded-pill style='border-style: dashed;' data-toggle='modal' data-target='#addTagsModal'
              | Add Tag
            hr
            .row
              .col-sm-6
                .shadow.rounded.p-3.text-center
                  i.fa.fa-share aria-hidden='true'
                  br
                  | Share Task
              .col-sm-6
                .shadow.rounded.p-3.text-center data-toggle='modal' data-target='#updateListModal'
                  i.fa.fa-tasks aria-hidden='true'
                  br
                  | {{ currentTask.list_title }}
            hr
            h5 Remind me about this
            datetime v-model='currentTask.remind_me_at' type='datetime' use12-hour=true title='Remind Me At' @close='updateRemindMeAt'
            hr
            h5.pb-1
              | Prerequisites
              .float-right
                button.btn.btn-sm.btn-outline-primary data-toggle='modal' data-target='#addPrerequisiteModal'
                  i.fa.fa-plus>
                  | Add Prerequisite
            ul.list-group
              li.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center (v-for='task in currentPrereqs' :key='task.title' @click='setCurrentTask(task)')
                | {{ task.title }}
                div
                  span.badge.badge-success.badge-pill v-if='task.completed' Complete
                  span.badge.badge-danger.badge-pill.ml-1 @click.stop='removePrerequisite(task)' x
            p v-if='currentPrereqs.length == 0'
              em No prerequisites.
            hr
            h5.pb-1
              | Postrequisites
              .float-right
                button.btn.btn-sm.btn-outline-primary data-toggle='modal' data-target='#addPostrequisiteModal'
                  i.fa.fa-plus>
                  | Add Postrequisite
            ul.list-group v-if='currentPostreqs.length > 0'
              li.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center (v-for='task in currentPostreqs' :key='task.title' @click='setCurrentTask(task)')
                | {{ task.title }}
                div
                  span.badge.badge-success.badge-pill v-if='task.completed' Complete
                  span.badge.badge-danger.badge-pill.ml-1 @click.stop='removePostrequisite(task)' x
            p v-if='currentPostreqs.length == 0'
              em No postrequisites.
            hr
            h5 Notes
            textarea.form-control v-model='currentTask.notes' placeholder='Write some notes...' @change='updateNotes'
          .modal-footer
            button.btn.btn-primary @click='markTaskComplete(currentTask)' v-if='currentTask.completed === false'
              | Mark as Complete
            button.btn.btn-primary(@click='markTaskIncomplete(currentTask)' v-else)
              | Mark as Incomplete
            button.btn.btn-danger @click='deleteTask(currentTask)'
              | Delete
            button.btn.btn-secondary type='button' data-dismiss='modal'
              | Cancel
    #addPrerequisiteModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="addPrerequisiteModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#addPrerequisiteModalLabel.modal-title
              | Add Prerequisite
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body style='min-height: 80vh;'
            h5
              | {{ currentTask.title }}
            | <input type="text" class="form-control" placeholder="Task title" v-model="newTask">
            hr
            h3
              | Possible Matches - {{ search.length }}
            ul.list-group.overflow-auto style='max-height: 60vh;'
              li.list-group-item.list-group-item-action v-for='task in search' @click='addPrerequisite(task)'
                | {{ task.title }}
    #addPostrequisiteModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="addPostrequisiteModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#addPostrequisiteModalLabel.modal-title
              | Add Postrequisite
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body
            h5
              | {{ currentTask.title }}
            | <input type="text" class="form-control" placeholder="Task title" v-model="newTask">
            hr
            h3
              | Possible Matches - {{ search.length }}
            ul.list-group.overflow-auto style='max-height: 60vh;'
              li.list-group-item.list-group-item-action v-for='task in search' @click='addPostrequisite(task)'
                | {{ task.title }}
    #addTagsModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="addTagsModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#addTagsModalLabel.modal-title
              | Add Tags
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body
            h5
              | {{ currentTask.title }}
            hr
            select(v-model='currentTags' multiple class='form-control list-group')
              option.list-group-item(v-for="tag in tags")
                | {{ tag.title }}
          .modal-footer
            button.btn.btn-primary @click='updateTags(currentTask)'
              | Save Tags
            button.btn.btn-secondary type='button' data-dismiss='modal'
              | Cancel
    #updateListModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="updateListModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#updateListModalLabel.modal-title
              | Change List
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body
            h5
              | {{ currentTask.title }}
            hr
            select(v-model='currentList' class='form-control list-group')
              option.list-group-item(v-for="list in lists")
                | {{ list.title }}
          .modal-footer
            button.btn.btn-primary @click='updateList(currentTask)'
              | Save List
            button.btn.btn-secondary type='button' data-dismiss='modal'
              | Cancel
  = javascript_pack_tag 'task_list'
- else
  main#root.wrapper
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow.justify-content-end
      = form_with url: login_path, method: :post, local: true, class: 'form-inline my-2' do |f|
        .form-group
          = f.text_field :username,
            class: 'form-control form-control-dark mr-sm-2',
            placeholder: 'Username',
            required: true,
            autofocus: true
          = f.password_field :password,
            class: 'form-control form-control-dark mr-sm-2',
            placeholder: 'Password',
            required: true
        = f.submit 'Login', class: 'btn btn-primary'
  = javascript_pack_tag 'login'
