template
  v-container[fluid]
    v-row
      v-col[cols="12"]
        v-row.grey.lighten-5[:align="alignment" :justify="justify" style="height: 300px;"]
          v-card.ma-3.pa-6[v-for="n in 3" :key="n" outlined tile]
            |  Column 
      v-col[cols="12"]
        v-row[justify="center"]
          v-col[cols="6" md="2"]
            v-select[v-model="alignment" :items="alignmentsAvailable" label="Align"]
          v-col[cols="6" md="2"]
            v-select[v-model="justify" :items="justifyAvailable" label="Justify"]
