v-dialog[v-model='editListDialog' persistent]
  v-card[:tile='$vuetify.breakpoint.mobile']
    v-card-title.headline Edit List Settings
    v-divider
    v-card-text[v-if='listToBeEdited']
      v-text-field[label='List title' :placeholder='listToBeEdited.title' v-model='editListTitle' clearable]
    v-card-actions
      v-btn[@click='updateList' color='primary'] Save
      v-btn[@click='resetListEdit' color='secondary'] Cancel
