@import '~bootstrap/scss/bootstrap'
$fa-font-path: '~font-awesome/fonts'
@import '~font-awesome/scss/font-awesome'
@import '~toastr/build/toastr'
@import vuetify/dist/vuetify.min

body
  background: url(~images/background.jpg) no-repeat center center fixed
  background-size: cover

.v-application
  background: transparent !important
