$text-color: #4a4a4a
$bg-color: #f6f6f6
$card-bg-color: #fff
$warning-color: #ffb926
$info-color: #38dca7
$error-color: #ff001f
$badge-color: #ff3b53
$confirm-color: #7ed321
$action-color: #0080ff
$secondary-1-color: #d8d8d8
$secondary-2-color: #e7e7e7
$secondary-3-color: #f2f2f2
$text-primary-color: #000
$text-secondary-1-color: #898989
$text-secondary-2-color: #9197a3
$text-secondary-3-color: #9b9b9b
$label-text-light-color: #fff
$label-text-dark-color: #000
$box-shadow-color: rgba(0,0,0,0.1)
$box-shadow-color-strong: rgba(0,0,0,0.3)
$action-color-focus: #0273df
$error-color-hover: #cc0018
$action-color-hover: #2a98ff
$confirm-color-hover: #91d722
$action-color-50p: rgba(0,128,255,0.5)
$secondary-color-25p: hsla(0,0%,53.7%,0.25)
$text-color-25p: rgba(74,74,74,0.25)
$card-bg-color-75p: hsla(0,0%,100%,0.75)
$card-item-bg-color: transparent
$card-item-bg-color-hover: $secondary-3-color
$card-item-bg-color-focus: $secondary-2-color
$card-item-text-color: $text-color
$card-item-text-color-active: $action-color
$card-header-bg-color: transparent
$card-header-bg-color-focus: $secondary-2-color
$card-header-color: $text-color
$card-header-color-active: $action-color
$card-footer-border-color: $secondary-2-color
$card-footer-bg-color: $card-bg-color
$card-footer-bg-color-hover: $secondary-2-color
$card-footer-bg-color-focus: $secondary-1-color
$card-footer-color: $text-color
$card-footer-color-disabled: $text-color-25p
$card-footer-color-active: $action-color
$toolbar-control-button-bg-color: $card-bg-color
$toolbar-control-button-bg-color-active: $secondary-1-color
$toolbar-control-button-bg-color-selected: $secondary-1-color
$toolbar-control-button-text-color: $text-secondary-2-color
$toolbar-control-button-text-color-link: $secondary-2-color
$toolbar-control-button-text-color-hover: $text-secondary-2-color
$toolbar-control-button-text-color-selected: $text-secondary-2-color
$backdrop-color: rgba(0,0,0,0.5)
$app-loader-color: #0da5f3
$nav-link-bg-color: $card-bg-color
$nav-link-bg-color-active: $bg-color
$nav-link-color: $text-secondary-1-color
$nav-link-heading-color: $text-color
$nav-link-active-color: $action-color
$textfield-bg-color: $card-bg-color
$textfield-bg-color-minimal: transparent
$textfield-bg-color-minimal-focus: $bg-color
$textfield-border-color: $text-secondary-1-color
$textfield-border-color-focus: $action-color
$textfield-text-color: $text-color
$textfield-text-color-focus: $text-color
$textfield-placeholder-color: $secondary-1-color
$file-attachment-icon-color: $text-secondary-2-color
$file-attachment-progress-bar-color: #ebebeb
$google-login-bg-color: #4385f5
$google-login-bg-color-hover: #1365f1
$facebook-login-bg-color: #465e97
$facebook-login-bg-color-hover: #2d4c96
$theme-color-blue: #0da5f3
$theme-color-black: #000
$theme-color-pink: #f26baa
$theme-color-green: #0bd99c
$theme-color-teal: #14ccc9
$default-label-color: $text-primary-color
$disabled-opacity: 0.65
$disabled-strong-opacity: 0.3
$viewport-min-width: 1280px
$text-font-size: 16px
$h1-font-size: 44px
$h2-emphasize-size: 28px
$h2-font-size: 24px
$h3-font-size: 20px
$big-text-font-size: 17px
$small-font-size: 14px
$xs-font-size: 12px
$xxs-font-size: 10px
$heading-line-height: 1.1
$line-height: 1.4
$border-radius-small: 2px
$border-radius: 5px
$modal-border-radius: 10px
$modal-dialog-width: 400px
$bar-height: 60px
$radio-button-size: 24px
$radio-button-marker-size: 16px
$login-form-height: 44px
$gutter: $text-font-size
$login-form-bottom-margin: $gutter
$login-terms-field-width: 300px
$separator-height: 1px
$box-shadow-focus-ring-size: 0 0 0 6px $secondary-color-25p
$box-shadow-focus-ring-small: 0 0 0 3px $secondary-color-25p
$box-shadow-focus-ring-inside: inset 0 0 0 3px $secondary-color-25p
$font-weight-light: 300
$font-weight-regular: 400
$font-weight-medium: 500
$font-weight-bold: 600
$default-font-family: "Helvetica Neue",Helvetica,Arial,"Roboto",sans-serif
$pane-h-gutter: calc(#{$gutter}*2.5)
$app-sidebar-z-index: 3
$app-header-z-index: 4
$app-onboarding-z-index: 5
$tooltip-z-index: 1000
$notifications-z-index: 2000
$drag-layer-item-z-index: 9999
$app-sidebar-width: 260px
$app-header-bottom-margin: calc(#{$gutter}*2.5)
$app-header-height: 64px
$app-header-control-h-gap: 30px
$app-header-icon-size: 36px
$tasks-toolbar-category-title-line-height: 1.3
$tasks-toolbar-category-title-height: calc(#{$h2-emphasize-size}*#{$tasks-toolbar-category-title-line-height})
$tasks-toolbar-height: $tasks-toolbar-category-title-height
$card-menu-header-height: 54px
$card-menu-footer-height: 54px
$card-menu-padding-h: $gutter
$card-menu-item-height: 44px
$card-menu-body-gap: 10px
$default-card-inner-padding-h: calc(#{$gutter}*1.5)
$default-card-inner-padding-v: calc(#{$gutter}/2)
$scrollbar-width: 8px
$scrollbar-border-radius: calc(#{$scrollbar-width}/2)
$scrollbar-pane-bg-color: transparent
$scrollbar-thumb-bg-color: $secondary-1-color
$pane-box-shadow: 0 2px 10px 0 $box-shadow-color
$pane-box-shadow-strong: 0 2px 10px 0 $box-shadow-color-strong
$pane-box-shadow-large: 0 2px 15px 0 $box-shadow-color
$pane-box-shadow-inversed: 0 -2px 10px 0 $box-shadow-color
$pane-min-width: 335px
$pane-max-width: 450px
$task-indicator-color: #979797
$task-item-box-shadow: 0 2px 5px 0 $box-shadow-color
$sidebar-category-width: $app-sidebar-width
$sidebar-category-height: 44px
$sidebar-category-padding-end: 30px
$sidebar-category-text-padding-start: 15px
$sidebar-category-padding: 0 18px 0 $sidebar-category-padding-end
$animation-speed-medium: 400ms
$sidebar-category-in-out-transition-speed: $animation-speed-medium
$file-attachment-spacing: calc(#{$gutter}/2)
$sharing-google-contacts-banner-height: 56px
$notifications-mini-toast-height: 56px
$app-theme-background-image-hd: none
$app-theme-background-image-4k: none
$backdrop-animation-speed: $animation-speed-medium
$reminders-modal-width: 340px
$animation-delay-speed: 100ms
$animation-delay-speed-fast: 50ms
$animation-delay-slow: 600ms
$animation-speed-fast: 200ms
$animation-speed-slow: 600ms
$animation-speed-very-slow: 1000ms
$animation-speed-focus-ring: 400ms
$animation-focus-transition: 400ms
$animation-pane-enter-speed: 300ms
$app-header-new-task-button-height: $app-header-icon-size
$app-header-new-task-button-border-radius: calc(#{$app-header-new-task-button-height}/2)
$text-field-padding-h-header-search-theme: calc(#{$gutter}/2)
