.app-body__controls__select
  border-bottom-style: solid
  border-width: 1px
  border-color: #898989
  h3
    margin-top: 10px
    text-align: center

.app-body__controls__lists,
.app-body__controls__tags
  margin-top: 10px
  ul
    background-color: #222
    border-radius: 5px
  li
    color: #898989

.active
  color: #0080ff !important

.wrapper
    display: flex
    width: 100%

#sidebar
  width: 250px
  position: fixed
  top: 0
  left: 0
  height: 100vh
  z-index: 999
  color: #fff
  transition: all 0.3s
  padding: 20px
