svg width='36' height='36' viewBox='0 0 36 36'
  title Toggle menu
  g transform='translate(0 -1)' fill='none' fill-rule='evenodd'
    path d='M0 0h36v36H0z'
    rect fill='currentColor' x='6' y='8'  width='24' height='3' rx='.893'
    rect fill='currentColor' x='6' y='17' width='24' height='3' rx='.893'
    rect fill='currentColor' x='6' y='26' width='24' height='3' rx='.893'
