- if current_user
  main#root.wrapper
    nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
      span.navbar-brand.col-sm-3.col-md-2.mr-0 = current_user&.username
      input.form-control.form-control-dark.w-100 type='text' placeholder='Search' aria-label='Search'
      ul.navbar-nav.px-3
        li.nav-item.text-nowrap
          = link_to 'Logout', logout_path, method: :post, class: 'nav-link'
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            .row
              .col-sm
                h3.text-right
                  button style='border:none;background-color:white;' v-bind:class="{ active: controls == 'lists' }" v-on:click="controls = 'lists'" Lists
              .col-sm
                h3.text-left
                  button style='border:none;background-color:white;' v-bind:class="{ active: controls == 'tags' }" v-on:click="controls = 'tags'" Tags
            .app-body__controls__lists v-show="controls == 'lists'"
              list-controls :lists='lists' @clicked-list='setCurrentList'
            .app-body__controls__tags v-show="controls == 'tags'"
              tag-controls :tags='tags' @clicked-tag='setCurrentTag'
        section.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
            h1.h2
              | Dashboard
            .btn-toolbar.mb-2.mb-md-0
              button.btn.btn-sm.btn-primary data-toggle='modal' data-target='#createTaskModal'
                | Create Task
              .btn-group.ml-2.mr-2
                button.btn.btn-sm.btn-outline-light.active
                  | Schedule
                button.btn.btn-sm.btn-outline-light
                  | Agenda
                button.btn.btn-sm.btn-outline-light
                  | Tree
          .row
            .col-sm-3
              tasks-docket :tasks='today' :title='title.today' @clicked-show-detail='setCurrentTask'
            .col-sm-3
              tasks-docket :tasks='tomorrow' :title='title.tomorrow' @clicked-show-detail='setCurrentTask'
            .col-sm-3
              tasks-docket :tasks='upcoming' :title='title.upcoming' @clicked-show-detail='setCurrentTask'
            .col-sm-3
              tasks-docket :tasks='someday' :title='title.someday' @clicked-show-detail='setCurrentTask'
    #createTaskModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#createTaskModalLabel.modal-title
              | Create Task
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body
            | <input type="text" class="form-control" placeholder="Task title" v-model="newTask" @keyup.enter="addTask">
            hr
            h3
              | Possible Matches - {{ search.length }}
            ul.list-group.overflow-auto style='max-height: 500px;'
              li.list-group-item.list-group-item-action v-for='task in search' @click='selectFromSearch(task)'
                | {{ task.title }}
          .modal-footer
            button.btn.btn-secondary[type="button" data-dismiss="modal"]
              | Cancel
    #taskDetailModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="taskDetailModalLabel" aria-hidden="true"]
      .modal-dialog[role="document"]
        .modal-content
          .modal-header
            h5#taskDetailModalLabel.modal-title
              | Task Details
            button.close[type="button" data-dismiss="modal" aria-label="Close"]
              span[aria-hidden="true"]
                | ×
          .modal-body
            input.form-control type='text' v-model='currentTask.title'
            hr
            button.btn.btn-sm.rounded-pill.mr-2 v-for='tag in currentTask.tags' v-bind:style="{ 'background-color': tag.color, 'border-color': tag.text_color, 'color': tag.text_color }"
              | {{ tag.title }}
            button.btn.btn-sm.btn-outline-secondary.rounded-pill style='border-style: dashed;'
              | Add Tag
            hr
            .row
              .col-sm-6
                .shadow.rounded.p-3.text-center
                  i.fa.fa-share aria-hidden='true'
                  br
                  | Share Task
              .col-sm-6
                .shadow.rounded.p-3.text-center
                  i.fa.fa-tasks aria-hidden='true'
                  br
                  | {{ currentTask.list_title }}
            hr
            h5 Remind me about this
            hr
            h5 Prerequisites
            ul.list-group
              li.list-group-item.list-group-item-action (v-for='task in currentPrereqs' :key='task.title' @click='setCurrentTask(task)')
                | {{ task.title }}
            p v-if='currentPrereqs.length == 0'
              em No prerequisites.
            hr
            h5 Postrequisites
            ul.list-group v-if='currentPostreqs.length > 0'
              li.list-group-item.list-group-item-action (v-for='task in currentPostreqs' :key='task.title' @click='setCurrentTask(task)')
                | {{ task.title }}
            p v-if='currentPostreqs.length == 0'
              em No postrequisites.
            hr
            h5 Notes
          .modal-footer
            button.btn.btn-primary @click='markTaskComplete(currentTask)'
              | Mark as Complete
            button.btn.btn-danger
              | Delete
            button.btn.btn-secondary type='button' data-dismiss='modal'
              | Cancel

  = javascript_pack_tag 'task_list'
- else
  main#root.wrapper
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow.justify-content-end
      = form_with url: login_path, method: :post, local: true, class: 'form-inline my-2' do |f|
        .form-group
          = f.text_field :username, placeholder: 'Username', class: 'form-control form-control-dark mr-sm-2', required: true, autofocus: true
        = f.submit 'Login', class: 'btn btn-primary'
  = javascript_pack_tag 'login'
