- if current_user
  main#root
    header.app-header
      .app-header__controls.app-header__controls--start
        button.app-header__control-button
          = render 'bars_svg'
        button.app-header__new-task-button
          = render 'plus_svg'
          span.app-header__new-task-button__text New
      .app-header__controls.app-header__controls--end
        span = current_user&.username
        = button_to 'Logout', logout_path, method: :post
    .app-body
      .app-body__controls.container
        .app-body__controls__select.row
          .col-sm
            h3
              button style='border:none;background-color:white;' v-bind:class="{ active: controls == 'lists' }" v-on:click="controls = 'lists'" Lists
          .col-sm
            h3
              button style='border:none;background-color:white;' v-bind:class="{ active: controls == 'tags' }" v-on:click="controls = 'tags'" Tags
        .app-body__controls__lists v-show="controls == 'lists'"
          list-controls :lists='lists'
        .app-body__controls__tags v-show="controls == 'tags'"
          tag-controls :tags='tags'
      section.app-body__tasks
        .container
          .row
            tasks-docket.col-sm :tasks='today' :title='title.today'
            tasks-docket.col-sm :tasks='tomorrow' :title='title.tomorrow'
            tasks-docket.col-sm :tasks='upcoming' :title='title.upcoming'
            tasks-docket.col-sm :tasks='someday' :title='title.someday'

  = javascript_pack_tag 'task_list'
- else
  = form_with url: login_path, method: :post, local: true do |f|
    = f.text_field :username, placeholder: 'Username'
    = f.submit 'Login'
